body {
  background: rgb (125, 198, 108);
  color: rgb (45, 45, 45);
  padding: 10px;
  font-family: Arial, sans-serif;
}
#all-content {
    max-width: 800px;
    margin: auto;
}

/* navigation */
nav{
    background: rgb(239, 80, 41)
}